<footer class="b-footer">
        <div class="g-container">
            <div class="b-footer__inner">
                <div class="b-footer__col">
                    <figure class="b-footer__logo">
                        <a href="index.html">
                            <img src="img/loader.gif" class="js-lazyimg" data-img="img/logo-alt.png" alt="" />
                            <noscript>
                                <img src="img/logo-alt.png" alt="" />
                            </noscript>
                        </a>
                    </figure>
                    <ul class="f-social">
                        <li class="f-social__item">
                            <a href="#" class="f-social__link" rel="nofollow" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="f-social__item">
                            <a href="#" class="f-social__link" rel="nofollow" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li class="f-social__item">
                            <a href="#" class="f-social__link" rel="nofollow" target="_blank">
                                <i class="icon-vk"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--/b-footer__col-->
                <nav class="b-footer__col">
                    <ul class="f-menu">
                        <li class="f-menu__item">
                            <a href="about.html" class="f-menu__link">О компании</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="countries.html" class="f-menu__link current">Страны</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="sale.html" class="f-menu__link">Акции</a>
                        </li>
                    </ul>
                </nav><!--/b-footer__col-->
                <nav class="b-footer__col">
                    <ul class="f-menu">
                        <li class="f-menu__item">
                            <a href="review.html" class="f-menu__link">Отзывы</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="news.html" class="f-menu__link">Новости</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="articles.html" class="f-menu__link">Статьи</a>
                        </li>
                    </ul>
                </nav><!--/b-footer__col-->

                <div class="b-footer__col">
                    <ul class="f-menu">
                        <li class="f-menu__item">
                            <span class="f-menu__title">
                                <i class="icon-phone"></i>
                                Наши телефоны:
                            </span>
                        </li>
                        <li class="f-menu__item">
                            <a href="tel:+77272671770" class="f-menu__link" rel="nofollow">+7(727)267-17-70</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="tel:+77272597777" class="f-menu__link" rel="nofollow">+7(727)259-77-77</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="tel:+77272720808" class="f-menu__link" rel="nofollow">+7(727)272-08-08</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="tel:+77272599110" class="f-menu__link" rel="nofollow">+7(727)259-91-10</a>
                        </li>
                    </ul>
                </div><!--/b-footer__col-->
                <div class="b-footer__col">
                    <ul class="f-menu">
                        <li class="f-menu__item">
                            <span class="f-menu__title">
                                <i class="icon-icq"></i>
                                Icq:
                            </span>
                        </li>
                        <li class="f-menu__item">
                            <span class="f-menu__title f-menu__title--alt">675008521 - Анастасия</span>
                        </li>
                        <li class="f-menu__item">
                            <span class="f-menu__title f-menu__title--alt">241742331 - Наталья</span>
                        </li>
                    </ul>
                </div><!--/b-footer__col-->
                <div class="b-footer__col">
                    <ul class="f-menu">
                        <li class="f-menu__item">
                            <span class="f-menu__title">
                                <i class="icon-mail"></i>
                                Email:
                            </span>
                        </li>
                        <li class="f-menu__item">
                            <a href="mailto:book@bell.kz" class="f-menu__link f-menu__link--alt">book@bell.kz</a>
                        </li>
                        <li class="f-menu__item">
                            <a href="mailto:book2@bell.kz" class="f-menu__link f-menu__link--alt">book2@bell.kz</a>
                        </li>
                    </ul>
                </div><!--/b-footer__col-->
            </div>
        </div>
    </footer>
    <!--/FOOTER-->

    <script src="js/vendor/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/app.min.js"></script>