<header class="b-header">
        <!--header top-->
        <div class="b-header__top">
            <div class="b-header__inner">
                <a href="index.html" class="b-header__logo">Bell Company</a>
                <div class="b-header__wrapper">
                    <!--currency-->
                    <div class="b-header__curr">
                        <div class="h-curr js-curr">
                            <button type="button" class="h-curr__btn h-curr__btn--current">
                                <i class="icon-tenge-alt">&nbsp;</i>
                                <span class="h-curr__name">Тенге</span>
                            </button>
                            <ul class="h-curr__list">
                                <li class="h-curr__item">
                                    <button type="button" class="h-curr__btn">
                                        <i class="icon-dollar">&nbsp;</i>
                                        Доллар
                                    </button>
                                </li>
                                <li class="h-curr__item">
                                    <button type="button" class="h-curr__btn">
                                        <i class="icon-euro">&nbsp;</i>
                                        Евро
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <span class="h-curr-info">
                            <b>Курс валют:</b> USD: 66.08&emsp;EUR: 74.93
                        </span>
                    </div>
                    <!--/currency-->
                    <!--social links-->
                    <div class="b-header__social">
                        <ul class="h-social">
                            <li class="h-social__item">
                                <a href="#" class="h-social__link" rel="nofollow" target="_blank">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li class="h-social__item">
                                <a href="#" class="h-social__link" rel="nofollow" target="_blank">
                                    <i class="icon-instagram"></i>
                                </a>
                            </li>
                            <li class="h-social__item">
                                <a href="#" class="h-social__link" rel="nofollow" target="_blank">
                                    <i class="icon-vk"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/social links-->
                    <!--contact phone-->
                    <div class="b-header__phone">
                        <a href="tel:+788004044040" class="h-phone" rel="nofollow">8 800 404 40 40</a>
                        <button type="button" class="h-callback" data-modal="#callback">Обратный звонок</button>
                        <button type="button" class="h-callback h-callback__xs" data-modal="#callback">
                            <i class="icon-phone-alt"></i>
                        </button>
                    </div>
                    <!--/contact phone-->
                </div>
            </div>
        </div>
        <!--/header top-->
        <!--header main-->
        <div class="b-header__main">
            <nav class="b-header__inner">
                <!--desktop menu-->
                <ul class="h-menu js-menu">
                    <li class="h-menu__item">
                        <a href="about.html" class="h-menu__link current">О компании</a>
                        <ul class="h-submenu">
                            <li class="h-submenu__item">
                                <a href="news.html" class="h-submenu__link">Новости</a>
                            </li>
                            <li class="h-submenu__item">
                                <a href="review.html" class="h-submenu__link">Отзывы</a>
                            </li>
                            <li class="h-submenu__item">
                                <a href="articles.html" class="h-submenu__link">Статьи</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-menu__item">
                        <a href="sale.html" class="h-menu__link">Акции</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="tours.html" class="h-menu__link">Экскурсионные туры</a>
                        <ul class="h-submenu">
                            <li class="h-submenu__item">
                                <a href="#" class="h-submenu__link">Туры в Египет</a>
                            </li>
                            <li class="h-submenu__item">
                                <a href="#" class="h-submenu__link">Туры в Турцию</a>
                            </li>
                            <li class="h-submenu__item">
                                <a href="#" class="h-submenu__link">Туры в Бразилию</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-menu__item">
                        <a href="tours-sale.html" class="h-menu__link">Горящие туры</a>
                        <ul class="h-submenu">
                            <li class="h-submenu__item">
                                <a href="#" class="h-submenu__link">Горящие туры в Египет</a>
                            </li>
                            <li class="h-submenu__item">
                                <a href="#" class="h-submenu__link">Горящие туры в Турцию</a>
                            </li>
                            <li class="h-submenu__item">
                                <a href="#" class="h-submenu__link">Горящие туры в Бразилию</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-menu__item">
                        <a href="order.html" class="h-menu__link">Оформить заявку</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="contacts.html" class="h-menu__link">Контакты</a>
                    </li>
                </ul>
                <!--/desktop menu-->
                <!--action block-->
                <div class="b-header__action js-action">
                    <button type="button" class="h-btn h-btn--search">
                        <i class="icon-search"></i>
                    </button>
                    <button type="button" class="h-btn h-btn--menu js-mmenu-toggle">
                        <i class="icon-menu"></i>
                    </button>
                    <!--search form-->
                    <form class="h-search">
                        <label class="g-visuallyhidden">Поиск по сайту</label>
                        <input type="text" class="h-search__input" placeholder="Искать..." />
                        <button type="submit" class="h-search__btn">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                    <!--/search form-->
                </div>
                <!--/action block-->
            </nav>
        </div>
        <!--/header main-->
    </header>
    <!--/HEADER-->
