<nav class="page__panel js-mmenu">
            <ul class="m-menu">
                <li class="m-menu__item">
                    <label class="m-menu__label">Меню</label>
                </li>
                <li class="m-menu__item">
                    <a href="index.html" class="m-menu__link">Главная</a>
                </li>
                <li class="m-menu__item">
                    <a href="about.html" class="m-menu__link current">О компании</a>
                    <ul class="m-submenu">
                        <li class="m-submenu__item">
                            <a href="news.html" class="m-submenu__link">Новости</a>
                        </li>
                        <li class="m-submenu__item">
                            <a href="review.html" class="m-submenu__link">Отзывы</a>
                        </li>
                        <li class="m-submenu__item">
                            <a href="articles.html" class="m-submenu__link">Статьи</a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <a href="sale.html" class="m-menu__link">Акции</a>
                </li>
                <li class="m-menu__item">
                    <a href="tours.html" class="m-menu__link">Экскурсионные туры</a>
                    <ul class="m-submenu">
                        <li class="m-submenu__item">
                            <a href="#" class="m-submenu__link">Туры в Египет</a>
                        </li>
                        <li class="m-submenu__item">
                            <a href="#" class="m-submenu__link">Туры в Турцию</a>
                        </li>
                        <li class="m-submenu__item">
                            <a href="#" class="m-submenu__link">Туры в Бразилию</a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <a href="tours-sale.html" class="m-menu__link">Горящие туры</a>
                    <ul class="m-submenu">
                        <li class="m-submenu__item">
                            <a href="#" class="m-submenu__link">Горящие туры в Египет</a>
                        </li>
                        <li class="m-submenu__item">
                            <a href="#" class="m-submenu__link">Горящие туры в Турцию</a>
                        </li>
                        <li class="m-submenu__item">
                            <a href="#" class="m-submenu__link">Горящие туры в Бразилию</a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <a href="order.html" class="m-menu__link">Оформить заявку</a>
                </li>
                <li class="m-menu__item">
                    <a href="contacts.html" class="m-menu__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <!--/mobile menu-->