<div class="modal" id="callback">
            <form class="modal__content g-text-center">
                <span class="g-title">Заказать обратный звонок</span>
                <p class="g-text-center">Закажите обратный звонок, и мы свяжемся с Вами в ближайшее время</p>
                <div class="g-row">
                    <div class="g-col g-col--one-half">
                        <label class="g-visuallyhidden">Ваше имя</label>
                        <input type="text" class="g-input" placeholder="Ваше имя *" required />
                    </div>
                    <div class="g-col g-col--one-half">
                        <label class="g-visuallyhidden">Ваш телефон</label>
                        <input type="text" class="g-input js-phone-input" placeholder="Ваш телефон *" required />
                    </div>
                </div>
                <button type="submit" class="g-btn">Жду звонок</button>
            </form>
        </div>
        <!--/modal windows-->