@import "../../modules/_base.scss";
/*Share-this container*/
.b-share{
    padding:10px;
    margin:35px 0;
    border-radius:$border-radius;
    @extend .g-shadow-hover;
    @extend .g-clearfix;
    background:#f3f5f7;
    font-family:$font-medium;
    font-size:rem(14px);
    text-align:right;
}

.b-share--has-link{
    position:relative;
    padding-top:30px;

    @include media($small){
        padding-top:10px;
        padding-left:80px;
    }
}

.b-share__link{
    color:$text-color-gray;
    white-space:nowrap;
    position:absolute;
    top:10px;
    left:10px;

    &:hover{
        color:$primary;
    }

    [class^="icon-"], [class*=" icon-"]{
        font-size:120%;
        margin-right:5px;
    }
}