@import "../../modules/_base.scss";
/*Header top section*/
.b-header__top{
    background:#fff;
}

.b-header__wrapper{
    display:flex;
    justify-content:space-between;
    height:36px;
    line-height:36px;

    @include media($desktop){
        height:46px;
        line-height:46px;
    }
}


.no-flexbox{
    .b-header__wrapper{
        text-align:justify;
        line-height:0;
        font-size:1px;
        text-align-last:justify;

        &:after{
            content:'';
            display:inline-block;
            width:100%;
            height:0;
            visibility:hidden;
            overflow:hidden;
        }
    }
    .b-header__curr,
    .b-header__social,
    .b-header__phone{
        display:inline-block;
        vertical-align:middle;
        line-height:normal;
        text-align:left;
        text-align-last:left;
    }

    .b-header__social{
        text-align:center;
        text-align-last:center;
    }
}